<style type="text/css">
	.form-group
	{
		margin-left: 20px;
	}
	#map-canvas{
		height: 500px;
		margin-bottom: 30px;
	}

	.controls {
		margin-top: 16px;
		border: 1px solid transparent;
		border-radius: 2px 0 0 2px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 32px;
		outline: none;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	}

	#pac-input {
		background-color: #fff;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 300;
		margin-left: 12px;
		padding: 0 11px 0 13px;
		text-overflow: ellipsis;
		width: 400px;
	}

	#pac-input:focus {
		border-color: #4d90fe;
	}

	.pac-container {
		font-family: Roboto;
	}

	#type-selector {
		color: #fff;
		background-color: #4d90fe;
		padding: 5px 11px 0px 11px;
	}

	#type-selector label {
		font-family: Roboto;
		font-size: 13px;
		font-weight: 300;
	}
	#target {
		width: 345px;
	}

</style>

<!-- <div ng-controller="usersController"> -->
	<div ng-include="'/partials/header.html'"></div>
<!-- </div> -->

<div ng-controller="subleasesController">
	<div class="container" style="margin-top:80px">
		<div class="row">
			<div class="col-md-12">
				<form name="filter_form" class="form-inline">
					<div class="form-group">
						<label for="num_rooms">Number of Bedrooms: </label>
						<select name="num_rooms" class="form-control" ng-model="filter.num_rooms" ng-change="deleteMarkers()">
							<option></option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</select>
					</div>
					<div class="form-group">
						<label for="num_bathrooms">Number of Bathrooms: </label>
						<select name="num_bathrooms" class="form-control" ng-model="filter.num_bathrooms" ng-change="deleteMarkers()">
							<option></option>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<div class="form-group">
						<label for="max_price">Max Price: </label>
						<select name="max_price" class="form-control" ng-model="filter.max_price" ng-change="deleteMarkers()">
							<option></option>
							<option value="400">$400</option>
							<option value="500">$500</option>
							<option value="600">$600</option>
							<option value="700">$700</option>
							<option value="800">$800</option>
							<option value="900">$900</option>
							<option value="1000">$1,000</option>
							<option value="1100">$1,100</option>
							<option value="1200">$1,200</option>
							<option value="1300">$1,300</option>
							<option value="1400">$1,400</option>
							<option value="1500">$1,500</option>
							<option value="1600">$1,600</option>
							<option value="1700">$1,700</option>
							<option value="1800">$1,800</option>
							<option value="1900">$1,900</option>
							<option value="2000">$2,000</option>
							<option value="2500">$2,500</option>
							<option value="3000">$3,000</option>
							<option value="3500">$3,500</option>
							<option value="4000">$4,000</option>
							<option value="4500">$4,500</option>
							<option value="5000">$5,000</option>
							<option value="10000">$10,0000</option>
						</select>
					</div>
					<input type="text" ng-model="search_filter" placeholder="search" class="form-control pull-right">
				</form>
			</div>
		</div><br>
		
		<div class="row">
			<div class="col-md-6 panel panel-default">
				<div data-ng-repeat="sublease in filteredSubleases = (subleases | filter: search_filter | filter: filterSubleases | orderBy: 'price')">
					<h3><p><b><span ng-bind="sublease.num_rooms + ' bedroom ' + sublease.num_bathrooms + ' bath'"></span></b></p></h3>
					<h4>
						<ul>
							<li><span ng-bind="'Price Per Month: $' + sublease.price"></span></li>
							<li><span ng-bind="'Address: ' + sublease.address"></span></li>
							<li>Available Starting: <span ng-bind="sublease.start_date | date:'MM/dd/yyyy'"></span></li>
							<li>Sublease Ending: <span ng-bind="sublease.end_date | date:'MM/dd/yyyy'"></span></li>
							<li><span ng-bind="'Description: ' + sublease.description"></span></li>
							<li>Photos: <a href="{{sublease.photo_url}}" target="_blank">{{sublease.photo_url}}</a></li>
							<li><a href="#/users/{{sublease._user._id}}">Click for contact information</a></li>
						</ul>
					</h4>
					<div><span ng-bind="updateMarkers(filteredSubleases)"></span></div>
				</div>
			</div>
			<div class="col-md-6">
				<!-- Google Maps -->
				<input id="pac-input" class="controls" type="text" placeholder="Search Box">
				<div id="map-canvas"></div>
				<div ng-init="createMap()"></div>
			</div>
		</div>
	</div>
</div>





